trunk/Client.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="Client"
 targetNamespace="http://localhost:8080/Client.wsdl"
 xmlns:tns="http://localhost:8080/Client.wsdl"
 xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
 xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 xmlns:ns="urn:Client"
 xmlns:SOAP="http://schemas.xmlsoap.org/wsdl/soap/"
 xmlns:MIME="http://schemas.xmlsoap.org/wsdl/mime/"
 xmlns:DIME="http://schemas.xmlsoap.org/ws/2002/04/dime/wsdl/"
 xmlns:WSDL="http://schemas.xmlsoap.org/wsdl/"
 xmlns="http://schemas.xmlsoap.org/wsdl/">

<types>

 <schema targetNamespace="urn:Client"
  xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
  xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:ns="urn:Client"
  xmlns="http://www.w3.org/2001/XMLSchema"
  elementFormDefault="unqualified"
  attributeFormDefault="unqualified">
  <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
  <complexType name="data"><!-- ns__data -->

   <simpleContent>
    <extension base="xsd:base64Binary">
     <attribute name="href" type="xsd:anyURI" use="optional"/>
    </extension>
   </simpleContent>
  </complexType>
  <complexType name="soap-string"><!-- soap_string -->

   <sequence>
     <element name="size" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- soap_string::size -->
     <element name="str" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/><!-- soap_string::str -->
   </sequence>
  </complexType>
 </schema>

</types>

<message name="ReceiveTaskListRequest">
 <part name="data" type="ns:data"/><!-- ns__ReceiveTaskList::data -->
</message>

<message name="ReceiveTaskListResponse">
 <part name="rest" type="ns:soap-string"/><!-- ns__ReceiveTaskList::rest -->
</message>

<message name="TaskSolveRequest">
 <part name="taskId" type="xsd:int"/><!-- ns__TaskSolve::taskId -->
 <part name="task" type="ns:soap-string"/><!-- ns__TaskSolve::task -->
</message>

<message name="TaskSolveResponse">
 <part name="ret" type="ns:soap-string"/><!-- ns__TaskSolve::ret -->
</message>

<message name="IsBusyRequest">
</message>

<message name="IsBusyResponse">
 <part name="flag" type="xsd:int"/><!-- ns__IsBusy::flag -->
</message>

<message name="BuildShareFolderRequest">
 <part name="sharepath" type="ns:soap-string"/><!-- ns__BuildShareFolder::sharepath -->
 <part name="username" type="ns:soap-string"/><!-- ns__BuildShareFolder::username -->
 <part name="passwd" type="ns:soap-string"/><!-- ns__BuildShareFolder::passwd -->
</message>

<message name="BuildShareFolderResponse">
 <part name="ret" type="ns:soap-string"/><!-- ns__BuildShareFolder::ret -->
</message>

<portType name="ClientPortType">
 <operation name="ReceiveTaskList">
  <documentation>Service definition of function ns__ReceiveTaskList</documentation>
  <input message="tns:ReceiveTaskListRequest"/>
  <output message="tns:ReceiveTaskListResponse"/>
 </operation>
 <operation name="TaskSolve">
  <documentation>Service definition of function ns__TaskSolve</documentation>
  <input message="tns:TaskSolveRequest"/>
  <output message="tns:TaskSolveResponse"/>
 </operation>
 <operation name="IsBusy">
  <documentation>Service definition of function ns__IsBusy</documentation>
  <input message="tns:IsBusyRequest"/>
  <output message="tns:IsBusyResponse"/>
 </operation>
 <operation name="BuildShareFolder">
  <documentation>Service definition of function ns__BuildShareFolder</documentation>
  <input message="tns:BuildShareFolderRequest"/>
  <output message="tns:BuildShareFolderResponse"/>
 </operation>
</portType>

<binding name="Client" type="tns:ClientPortType">
 <SOAP:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
 <operation name="ReceiveTaskList">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body use="encoded" namespace="urn:Client" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
     <SOAP:body use="encoded" namespace="urn:Client" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="TaskSolve">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body use="encoded" namespace="urn:Client" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
     <SOAP:body use="encoded" namespace="urn:Client" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="IsBusy">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body use="encoded" namespace="urn:Client" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
     <SOAP:body use="encoded" namespace="urn:Client" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
 <operation name="BuildShareFolder">
  <SOAP:operation style="rpc" soapAction=""/>
  <input>
     <SOAP:body use="encoded" namespace="urn:Client" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </input>
  <output>
     <SOAP:body use="encoded" namespace="urn:Client" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
  </output>
 </operation>
</binding>

<service name="Client">
 <documentation>gSOAP 2.8.5 generated service definition</documentation>
 <port name="Client" binding="tns:Client">
  <SOAP:address location="http://localhost:8080/"/>
 </port>
</service>

</definitions>
